.git/
workspace/
package.json
package-lock.json
glow.tar.gz
*.bak/
*backup*/
**/cache/
**/*.userdb/
**/rime/build
**/__pycache__/
*.so
tags
nvim/plugin/packer_compiled.lua
.config/nvim/lazy-lock.json
.config/eww/tmp
.config/mpv/history.log
.config/mpv/bookmarker.json
.config/vlc/vlc-qt-interface.conf
*.luarc.json
