.git/
workspace/
package.json
package-lock.json
glow.tar.gz
*.bak/
*backup*/
**/cache/
*.userdb/
*/rime/build
**/__pycache__/
*.so
tags
dotfiles/.tmux/resurrect
dotfiles/.tmux/plugins
nvim/plugin/packer_compiled.lua
.config/nvim/lazy-lock.json
*.luarc.json
