.git/
workspace/
package.json
package-lock.json
glow.tar.gz
*.bak/
*backup*/
**/cache/
**/*.userdb/
**/rime/build
**/__pycache__/
*.so
tags
nvim/plugin/packer_compiled.lua
.config/nvim/lazy-lock.json
.config/eww/tmp
.config/eww/images/svg/**
.config/eww/eww_covers/**
.config/hypr/savedcolors/**
.config/hypr/shaders/**
.config/hypr/dirs/**
.config/hypr/colors.conf
.config/hypr/colors_default.conf
.config/eww/css/**
.config/mpv/history.log
.config/mpv/bookmarker.json
.config/vlc/vlc-qt-interface.conf
*.luarc.json
