$primary: #8aceff;
$onPrimary: #003450;
$primaryContainer: #004b70;
$onPrimaryContainer: #c8e6ff;
$secondary: #b7c8d8;
$onSecondary: #22323f;
$secondaryContainer: #384956;
$onSecondaryContainer: #d3e5f6;
$tertiary: #cfc0e8;
$onTertiary: #362b4b;
$tertiaryContainer: #4c4162;
$onTertiaryContainer: #ebdcff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1a1c1e;
$background: #1a1c1e;
$onBackground: #e2e2e5;
$surface: #1a1c1e;
$onSurface: #e2e2e5;
$surfaceVariant: #41474d;
$onSurfaceVariant: #c1c7ce;
$outline: #8b9198;
$shadow: #000000;
$inverseSurface: #e2e2e5;
$inverseOnSurface: #2f3032;
$inversePrimary: #006494;
